.container {
    width: 80%;
    margin: auto;
  }
  
  .content {
    width: 100%;
    margin: auto;
  }

  h2 {
    text-align: start;
    margin-top: 1rem;
    margin-left: 1rem;
    color: rgb(104, 98, 98)
  }
  
  .buttons {
    text-align: end;
    margin-bottom: 0.5rem;
  }
  
  mat-card {
    margin-left: 1rem;
    width: 100%;
    border-radius: 10px;
  }
  
  p {
    text-align: end;
    font-weight: 500;
    color:gray;
    margin-bottom: 0;
  }